h1 {
    font-family: 'Dela Gothic One', cursive;
}
p, div, form {
    font-family: 'PT Sans', sans-serif;
}
header {
    background-color: #FAFAFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 990px;
    letter-spacing: 0.3rem;
    font-size: 30px;
    margin: 0 auto;
  }
  .headings {
      position: absolute;
      text-align: center;
      text-shadow: 30px 2px 20px #fff;
  }
  #headLogo {
      max-width: 60%;
  }
  form {
    background-color: #fffcf7;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-shadow: 0 0 30px rgb(41, 41, 41);
    font-size: 20px;

    margin-bottom: 45px;
  }
  input {
    height: 40px;
    caret-color: #a072d5;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 5px;
  }
  .form-box {
    padding: 10px;
    display: inline-block;
    flex-direction: column;
    margin-bottom: 20px;
    color: #140a14;
  }
  
  input[type="radio"] {
    height: auto;
  }
  
  fieldset {
    display: block;
    margin: auto;
    background-color: #FAE8EB;
    border-radius: 5px;
  }
  fieldset div {
    max-width: 100%;
    padding: 8px;
  }
  input[type="submit"] {
    color: #140a1f;
    font-family: "Fenix", serif;
  }
   
  #submitBtn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #fffcf7;
    font-family: "Fenix", serif;
    color: #140a1f;
  }
  #submitBtn:hover,
  #submitBtn:focus {
    background-color: #140a1f;
    color: #fffcf7;
  }
  textarea {
    padding: 10px;
    margin-top: 5px;
    width: 95%;
  }